In [27]:
import pandas as pd 
import numpy as np
from numpy.random import randn,randint

In [15]:
df = pd.DataFrame(randn(5,4),list1,l2)

In [9]:
list1=['a','b','c','d','e']
l2=['a','b','c','d']

In [16]:
df

          a         b         c         d
a -0.913771  1.294330 -1.521046 -0.991087
b  1.357653  2.054998 -1.874923 -0.034908
c  0.979938  1.647256  1.096091 -1.040064
d -0.057478 -0.612865 -1.672156  0.475758
e  0.642382 -0.848908  1.018036  0.857017

In [34]:
arr=randint(0,100,25)
arr

array([76, 16, 89, 34, 27, 18, 94, 23,  4, 62, 80, 56, 12, 19, 54, 45, 48,
       26, 35, 56, 18, 70, 83, 88, 94])

In [38]:
p=arr.reshape(5,5)
p

array([[76, 16, 89, 34, 27],
       [18, 94, 23,  4, 62],
       [80, 56, 12, 19, 54],
       [45, 48, 26, 35, 56],
       [18, 70, 83, 88, 94]])